* {
  background-color: black;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}


header {
  color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  background: transparent;
}

header > nav {
  position: absolute;
  z-index: 1;
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header ul {
  background: transparent;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

header li, a {
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 20px;
}

header ul li a {
  color: #ffffff;
}

#datetime {
  background: transparent;
}

header > h1 {
  background: transparent;
  z-index: 1;
  position: absolute;
  text-align: center;
  font-size: 5rem;
  width: 100%;
  margin-top: 10%
}

header > .overlay-text {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: transparent;
  font-size: 1.1rem;

}
header .overlay-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
header p {
  background-color: transparent;
}

header button {
  background-color: transparent;
  color: white;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
header .overlay-content button:hover {
  background-color: #000000;
  opacity: 70%;
}


.video-primary {
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  object-fit: cover;
  z-index: -1;
  
}


section {
  margin-top: 50px;
}

.container {
  display: grid;
  grid-template-rows: auto auto; /* Row for header and row for images */
  background-color: black;
  color: white;
  max-height: 300px;
  max-width: 95%;
}
.header > h2 {
  font-size: 3rem;
  
}
#Revitalize {
  height: fit-content;
  width: 400px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.1vw;
  
}

.header p {
  padding: 10px;
  width: 50%;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create 4 equal columns */
  grid-template-rows: auto; /* Single row */
}
.music-grid {
  flex: 1; /* Allow the div to grow and shrink as needed */
  padding: 10px; /* Add some padding around the content */
  display: flex; /* Use Flexbox for vertical alignment */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  text-align: center;
  align-items: center;
}

.music-grid p {
  display: flex;
  justify-content: center;
  width: 60%;

}

.custom-grid-music {
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

}

.image-item {
  width: 100%; 
}

.image-item-2 {
  width: 20%;
  height: 20%;
  padding: 5px;
  display: flex;
  justify-content: space-between;

}


.section-container {
  display: flex; /* Use Flexbox to lay out children */
  width: 100%;
}

.video-secondary {
  flex: 1; /* Allow the video to grow and shrink as needed */
  width: 50%; /* Take up half of the container's width */
  height: 720px; /* Maintain aspect ratio */
}

.section-practice {
  flex: 1; 
  padding: 20px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  text-align: center;
  width: 50%;
}

.button-28 {
  appearance: none;
  background-color: white;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}


p {
  color: white;
  font-size: 1.4rem;
}

h1 {
  color: white;
}

h2 {
  color: white;
  font-size: 2.5rem;
}
/* Testimonials Section Styles */
.testimonials-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  background-color: #000000;
  text-align: center;
  height: 100%;
  width: 100%;
}

.testimonial-container {
  margin-bottom: 10px;
  border: #ffffff;
  border-radius: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

blockquote {
  font-style: italic;
  color: #ffffff;
  quotes: "“" "”" "‘" "’";
}

blockquote:before {
  content: open-quote;
}

blockquote:after {
  content: close-quote;
}

.testimonial-author {
  color: #ffffff;
  font-weight: bold;
  display: block; /* To ensure it takes its own line */
  margin-top: 10px;
}


ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
/* The Present Moment */
.present-moment {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
}

.body-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  align-self: auto;
  width: 50%;
}

.logo-container {
  display: block;
  width: 100%;
}

.logo {
  max-width: 100%;
  height: auto;
  visibility: visible;
  opacity: 1;
}
/* footer  */
.footer-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  position: relative;
  background-color: #ffffff;
}

.footer-nav {
  grid-column: span 10;
  background-color: #ffffff;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}

.footer-nav ul li {
  margin-bottom: 0.5rem;
  background-color: white;
  color: #1A1A1A;
}

.footer-nav ul li a {
  text-decoration: none;
  background-color: #ffffff;
  color: #1A1A1A;
}

.footer-content {
  grid-column: span 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: #ffffff;
}

.subscription-text {
  font-size: 1rem;
  font-family: monospace;
  margin-bottom: 1rem;
  background-color: #fff;
}

.subscription-text span {
  font-size: 0.875rem;
  background-color: white;
}

.subscription-cta {
  text-decoration: none;
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: inline-flex;
  width: fit-content;
  background-color: white;
}

.subscription-cta .cta-arrow {
  margin-left: 0.5rem;
  background-color: #ffffff;
  color: #000000;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.footer-links li {
  margin-bottom: 0.5rem;
  background-color: #ffffff;
}

.footer-links li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

.footer-links li span {
  color: rgb(0, 0, 0);
  font-size: 0.875rem;
  background-color: #ffffff;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #Revitalize {
    font-size: 16px;
    margin-right: 15%;
    width: 350px;
}
  .testimonial-container {
    width: 150px;
  }
  header > h1 {
    margin-top: 30%;
  }
}
  